<h3>【役職確認】</h3>
<br>
<p>
それでは、これより役職確認を行います。
</p>
<br>
<p>
人狼の方は目を開けて下さい。<br>
お互いを確認して下さい。<br>
目を閉じて下さい。
</p>
<br>
<p>
予言者の方は目を開けて下さい。<br>
ハンドサインの確認を行います。これが人狼です。これが人間です。<br>
目を閉じて下さい。
</p>
<br>
<p>
霊媒師の方は目を開けて下さい。<br>
ハンドサインの確認を行います。これが人狼です。これが人間です。<br>
目を閉じて下さい。
</p>
<br>
<p>
ボディーガードの方は目を開けて下さい。<br>
目を閉じて下さい。
</p>
<br>
<p>
裏切り者の方は目を開けて下さい。<br>
目を閉じて下さい。
</p>
<br>
<p class="input-group input-group-lg" ng-repeat="player in assign.players track by $index">
    <span class="input-group-addon" id="basic-addon1">{{$index + 1}}</span>
    <input type="text"
           ng-model="player.name"
           required
           placeholder="プレイヤー名を入力してください"
           class="form-control input-lg">
    <span class="input-group-btn">
    <button type="submit"
           class="btn btn-primary" ng-click="assign.changeJob($index)">{{player.job}}</button>
    </span>
</p>

<button class="btn btn-primary" ng-click="assign.backtoRegister()">
  プレイヤー登録へ戻る
</button>

<button class="btn btn-success" ng-click="assign.gotoDay()">
  ゲームスタート
</button>

<!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    役職
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">市民</a></li>
    <li><a href="#">人狼</a></li>
    <li><a href="#">予言者</a></li>
    <li><a href="#">霊媒師</a></li>
    <li><a href="#">裏切者</a></li>
  </ul>
</div> -->

