<h3>【プレイヤー登録】</h3>
<br>
<p class="input-group input-group-lg my-group" ng-repeat="player in register.players track by $index">
    <span class="input-group-addon" id="basic-addon1">{{$index + 1}}</span>
    <input type="text"
           ng-model="player.name"
           required
           placeholder="プレイヤー名を入力してください"
           class="form-control input-lg my-input"
           ng-focus-if="1==1">
    <span class="input-group-btn">
    <button type="submit"
           class="btn btn-danger" ng-click="register.remove($index)">削除</button>
    </span>
</p>

<button class="btn btn-primary" ng-click="register.add()">
  プレイヤーを追加する
</button>

<button class="btn btn-success" ng-click="register.gotoAssign()">
  役職確認へ
</button>
